{{ form_start(form) }}
<div class="my-custom-class-for-errors">
	{{ form_errors(form) }}
</div>
<div class="w-100">
{{ form_row(form.lastname) }}
{{ form_row(form.firstname) }}
{{ form_row(form.pseudo) }}
{{ form_row(form.email) }}
</div>
<div class="d-flex justify-content-end">
	<button type="submit" class="btn button-crud mt-4 mb-2 w-100">Valider</button>
</div>

{{ form_end(form) }}
