{% extends 'base.html.twig' %}

{% block title %}Nom-Nom - Mon profil
{% endblock %}

{% block body %}
	<img class="w-100 object-fit-cover d-none d-md-block" src="{{ asset('/build/images/background-pages.png') }}"/>
	<h1 class="text-center fs-1 mt-4">Mes {{ totalFavoriteRecipes }} recettes favorites</h1>
	<div class="d-flex justify-content-center">
		<img class="object-fit-cover user-avatar" src="{{ asset('build/images/user.png') }}" alt="Photo de l'avatar Nom-Nom"/>
	</div>
	{# -----------------------mobile---------------------------------- #}
	<div class="d-md-none text-center">
		{% for recipe in user.favoriteList %}
			<div class="position-relative">
				<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}"><img src="{{ asset('uploads/images/pictures/' ~ recipe.picture) }}" class="pic-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/></a>
				<div class="container-fluid carousel-caption d-md-block glassmorphism">
					<h5>{{ recipe.nameRecipe }}</h5>
					<p class="w-75 container text-center">{{ recipe.description }}</p>
				</div>
			</div>
		{% endfor %}
	</div>

	{# --------------------desktop-------------------- #}
	<div class="d-none d-md-block">
		<div class="d-flex flex-wrap justify-content-evenly text-center mb-2">
			{% for recipe in user.favoriteList %}
				<div class="position-relative mb-5">
					<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}">
						<img src="{{ asset('uploads/images/pictures/' ~ recipe.picture) }}" class="pic-recipe-desktop object-fit-cover" alt="{{ recipe.nameRecipe }}"/>
					</a>
					<div class="glassmorphism-desktop m-2">
						<h5 class="p-2">{{ recipe.nameRecipe }}</h5>
						<p class="container text-center">{{ recipe.description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="user-button">
		<a href="{{ path('app_profile') }}" class="btn button-crud mt-4 mb-2" tabindex="-1" role="button" aria-disabled="true">Mon profil</a>
		<a href="{{ path('app_profile_my_recipes') }}" class="btn button-crud mt-4 mb-2" tabindex="-1" role="button" aria-disabled="true">Mes recettes</a>
	</div>
{% endblock %}
