{% extends 'base.html.twig' %}

{% block title %}Nom-Nom - Mon profil
{% endblock %}

{% block body %}
	<img class="w-100 object-fit-cover d-none d-md-block" src="{{ asset('/build/images/background-pages.png') }}"/>
	<a class="logout-link link-offset-2 link-underline link-underline-opacity-0 nav-link fs-6 fw-semibold mt-3 mr-3 d-md-none" href="{{ path('app_logout') }}">
		Se déconnecter</a>
	<h1 class="text-center fs-1 mt-4">Mon profil</h1>
	<div class="user-container">
		<img class="object-fit-cover user-avatar" src="{{ asset('build/images/user.png') }}" alt="Photo de l'avatar Nom-Nom"/>
		<div class="container-card-button">
			<div class="user-card">
				<h4>Pseudo</h4>
				<p>{{app.user.pseudo}}</p>
			</div>
			<div class="user-card">
				<h4>Mail</h4>
				<p class="user-paragraph">{{app.user.email}}</p>
			</div>
			<div class="user-button">
				<a href="#" type="button" class="btn button-crud mt-4 mb-2" tabindex="-1" role="button" aria-disabled="true">Mes favoris</a>
				<a href="#" type="button" class="btn button-crud mt-4 mb-2" tabindex="-1" role="button" aria-disabled="true">Mes recettes</a>
			</div>
		</div>
	</div>
{% endblock %}
