{% extends 'base.html.twig' %}

{% block title %}
	Accueil - Bienvenue sur l'application Nom nom nom
{% endblock %}

{% block body %}
	<img class="w-100 object-fit-cover d-none d-md-block" src="{{ asset('/build/images/background-home.png') }}"/>

	<h2 class="pt-5 text-center ">Découvrez les 3 dernières recettes</h2>

	{# MOBILE - last 3 recipies #}
	<div class="container text-center mt-4 pt-3 pb-5 d-md-none">
		<div id="carouselExampleIndicators" class="carousel carousel-dark slide">
			<div class="carousel-inner">
				{% for key, recipe in showRecipes %}
					<div class="carousel-item {% if key == 0 %} active {% endif %}">
						<a href="{{ path('app_recipe_show', { id: recipe.id }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/></a>
						<div class="container-fluid carousel-caption d-md-block glassmorphism">
							<h5>{{ recipe.nameRecipe }}</h5>
							<p class="w-75 container text-center">{{ recipe.description }}</p>
						</div>
					</div>
				{% endfor %}
			</div>

			{# MOBILE - left and right button - mobile #}
			<button class="carousel-control-prev d-md-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</button>
			<button class="carousel-control-next d-md-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</button>
		</div>
	</div>

	{# DESKTOP - last 3 recipies#}
	<div class="d-none d-md-block">
		<div class="d-flex justify-content-evenly ">
			{% for recipe in showRecipes %}
				<div class="position-relative mb-5">
					<a href="{{ path('app_recipe_show', { id: recipe.id }) }}">
						<img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe-desktop object-fit-cover" alt="{{ recipe.nameRecipe }}"/>
					</a>
					<div class="glassmorphism-desktop m-2">
						<h5 class="p-2">{{ recipe.nameRecipe }}</h5>
						<p class="container text-center">{{ recipe.description }}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="d-flex justify-content-center">
		<a href="{{ path('app_recipe_index') }}" class="color-count link-offset-2 link-underline link-underline-opacity-0">Découvrez toutes nos recettes ici</a>
	</div>
	{# section with CTA #}
	<div class="position-relative py-5">
		<img class="w-100 vh-100 object-fit-cover" src="{{ asset('/build/images/background.png')}}" alt="Photo représentant une table remplie de plats avec une très forte opacité"/>
		<div class="container text-center position-absolute top-50 start-50 translate-middle">
			<h1 class="mb-5">Rejoignez notre communauté</h1>
			<p class="paragraph">A chaque bouchée une nouvelle saveur.</p>
			<p class="container-fluid mt-4 px-4 paragraph">Rejoignez notre communauté culinaire et transformez chaque repas en une expérience mémorable, où la passion de la cuisine se marie harmonieusement avec le plaisir de créer des souvenirs délicieux.</p>
			<h3 class="color-count">Aujourd'hui, nous vous proposons
				{{ countRecipes }}
				recettes. Rejoignez-nous afin de partager les votres.</h3>
			<div class="mt-2">
				<a href="#" type="button" class="btn button-crud mt-1 mb-5" tabindex="-1" role="button" aria-disabled="true">Rejoignez-nous</a>
			</div>
		</div>
	</div>

	{# MOBILE - section with CTA #}
	<div class="position-relative py-5 d-md-none ">
		<img class="object-fit-cover w-100 opacity-50" src="{{ asset('/build/images/background-mobile.png')}}" alt="Photo représentant une table remplie de plats avec une très forte opacité"/>
		<div class="container text-center position-absolute top-50 start-50 translate-middle">
			<h1 class="my-5">Rejoignez notre communauté</h1>
			<p class="paragraph">A chaque bouchée une nouvelle saveur.</p>
			<p class="container-fluid mt-4 px-4 paragraph">Rejoignez notre communauté culinaire et transformez chaque repas en une expérience mémorable, où la passion de la cuisine se marie harmonieusement avec le plaisir de créer des souvenirs délicieux.</p>
			<a href="#" type="button" class="btn button-crud-big mx-auto mt-5 mb-5" tabindex="-1" role="button" aria-disabled="true">Rejoignez-nous</a>
		</div>
	</div>
	{# DESKTOP section with CTA #}
	<div class="d-none d-md-block">
		<div class="position-relative">
			<img class="vw-100 object-fit-cover opacity-50" src=" {{ asset('/build/images/background.png')}} " alt=" photo représentant une table remplie de plats avec une très forte opacité"/>
			<div class=" container text-center position-absolute top-50 start-50 translate-middle">
				<h1 class="my-5">Rejoignez notre communauté</h1>
				<p class="paragraph">A chaque bouchée une nouvelle saveur.</p>
				<p class="container-fluid mt-4 px-4 paragraph">Rejoignez notre communauté culinaire et transformez chaque repas en une expérience mémorable, où la passion de la cuisine se marie harmonieusement avec le plaisir de créer des souvenirs délicieux.</p>
				<a href="#" type="button" class="mx-auto btn button-crud-big mt-4" tabindex="-1" role="button" aria-disabled="true">Rejoignez-nous</a>
			</div>
		</div>
	</div>


	{# DESKTOP - Accessing categories #}
	<h3 class="pt-3 m-5 text-center d-none d-md-block">Explorez différentes recettes par catégories</h3>

<div class="d-flex flex-wrap justify-content-evenly text-center">

{% for category in categories %}
		<div class="w-25 mb-3 mx-2">
		<a href="{{ path('app_category_show', { id: category.id }) }}">
			<img class="w-100 pic-category-recipe object-fit" src="{{ asset('build/images/' ~ category.picture) }}" alt="Photo présentant un(e) {{ category.name }}"/>
		</a>
		<h3 class="mt-2">{{ category.name }}</h3>
		</div>

		{% endfor %}
	</div>

	{{ component('RecipeAllSearch') }}
{% endblock %}
