{% extends 'base.html.twig' %}

{% block title %}
	Catégorie
{% endblock %}

{% block body %}
	{# Cover #}

	<img class="w-100 object-fit-cover d-none d-md-block" src="{{ asset('/build/images/background-pages.png') }}"/>

	<h1 class="text-center mt-2">
		Liste des
		{{ category.name }}
	</h1>
	{% if totalRecipesByCategory > 1 %}
		<h3 class="mx-auto w-75 color-count text-center mb-5">
			Découvrez nos
			{{ totalRecipesByCategory }}
			recettes et savourez-les !
		</h3>
	{% elseif totalRecipesByCategory == 1 %}
		<h3 class="mx-auto w-75 color-count text-center mb-5">
			Découvrez notre recette et savourez-la !
		</h3>
	{% else %}
		<h3 class="mx-auto w-75 color-count text-center mb-5">
			Il n'existe pas encore de recette dans cette catégorie
		</h3>
		{% if app.user %}
			<a class="d-flex justify-content-center paragraph lien link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_recipe_new') }}">
				Postez la 1ère recette de cette catégorie
			</a>
		{% else %}
			<a class="d-flex justify-content-center paragraph lien link-offset-2 link-offset-3-hover link-underline-dark link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ path('app_login') }}">
				Postez la 1ère recette de cette catégorie
			</a>
		{% endif %}
	{% endif %}
{# MOBILE #}
<div class="d-md-none">
	<div class="d-flex flex-wrap gap-1 text-center">
		{% for recipe in paginations %}
			<div class="position-relative mx-auto">
				<div class="container m-0 mb-4 p-0">
					<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}"><img src="{{ asset('uploads/images/pictures/' ~ recipe.picture) }}" class="mx-auto recipe-list-mobile object-fit-cover mb-2" alt="{{ recipe.nameRecipe }}"/></a>
					<h5>{{ recipe.nameRecipe }}</h5>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{# DESKTOP #}
	<div class="d-none d-md-block">
		<div class="mx-auto d-flex flex-wrap gap-5 text-center mb-2 justify-content-center">
			{% for recipe in paginations %}
				<div class="position-relative">
						<div class="gap-5 row-gap-3 d-flex flex-wrap justify-content-center">
							<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}"><img src="{{ asset('uploads/images/pictures/' ~ recipe.picture) }}" class="pic-recipe-desktop object-fit-cover" alt="{{ recipe.nameRecipe }}"/></a>
								<div class="glassmorphism-desktop m-2 py-2">
									<h5>{{ recipe.nameRecipe }}</h5>
								</div>
						</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="d-flex justify-content-center gap-1 mb-5">
		{{ knp_pagination_render(paginations) }}
	</div>

{% endblock %}
