{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
{% include 'components/_messages.html.twig' %}
    <h1>Liste des recettes</h1>
	<div class="d-flex flex-column text-center d-md-none">
	{% for recipe in recipes %}
		<div class="container-fluid w-75">
		<a href="{{ path('app_recipe_show', { id: recipe.id }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/></a>
			<h5>{{ recipe.nameRecipe }}</h5>
			<p>{{ recipe.description }}</p>
		</div>
	{% endfor %}
	</div>
    <div class="d-none d-md-block">
	<div class="d-flex flex-wrap gap-1 text-center">
	{% for recipe in recipes %}
		<div class="container-fluid recipe-list">
		<a href="{{ path('app_recipe_show', { id: recipe.id }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe object-fit-cover w-75" alt="{{ recipe.nameRecipe }}"/></a>
			<h5>{{ recipe.nameRecipe }}</h5>
			<p>{{ recipe.description }}</p>
		</div>
	{% endfor %}
	</div>
</div>
    <a href="{{ path('app_recipe_new') }}">Ajouter votre recette</a>
{% endblock %}
