{% extends 'base.html.twig' %}

{% block title %}Liste des recettes
{% endblock %}

{% block body %}
	{% include 'components/_messages.html.twig' %}
	<img class="w-100 object-fit-cover d-none d-md-block" src="{{ asset('/build/images/background-pages.png') }}"/>
	<h1 class="text-center mt-2">LISTE DES RECETTES</h1>
	<h3 class="color-count text-center mb-5">
		Découvrez nos
		{{ countRecipes }}
		recettes et savourez-les !!!</h3>

	<div class="d-md-none text-center">
		{% for category in categories %}
			<h2 class="category-in-recipe mt-3">{{ category.name }}</h2>
			<div class="d-flex flex-wrap gap-1 text-center">
				{% for recipe in category.recipes %}
					<div class="container-fluid recipe-list-mobile mb-2">
						<a href="{{ path('app_recipe_show', { id: recipe.id }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe-list-mobile object-fit-cover mb-2" alt="{{ recipe.nameRecipe }}"/></a>
						<h5>{{ recipe.nameRecipe }}</h5>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
	<div class="d-none d-md-block">
		<div class="text-center mb-2">
			{% for category in categories %}
				<h2 class="category-in-recipe mt-3">{{ category.name }}</h2>
				<div class="d-flex flex-wrap gap-1 text-center">
					{% for recipe in category.recipes %}
						<div class="container-fluid recipe-list">
							<a href="{{ path('app_recipe_show', { id: recipe.id }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe-list object-fit-cover w-75 mb-3" alt="{{ recipe.nameRecipe }}"/></a>
							<h5>{{ recipe.nameRecipe }}</h5>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	{% if app.user %}
		<div class="d-flex justify-content-center">
			<a class="container btn button-form center mt-2" href="{{ path('app_recipe_new') }}" role="button">Ajouter votre recette</a>
		</div>
	{% endif %}
{% endblock %}
