{% extends 'base.html.twig' %}

{% block title %}Ingredient
{% endblock %}

{% block body %}
    <h1 class="pt-5 text-center">{{recipe.nameRecipe}}</h1>

    <h2 class="pt-5 text-center">Ingrédients</h2>

    <div class="container text-center d-md-none">
    <div class="row row-cols-2">
        {% for recipeIngredient in recipeIngredients %}
            <div class="col">
            <p>{{recipeIngredient.quantity}} {{recipeIngredient.unity}} {{recipeIngredient.ingredient.nameIngredient}}</p>
            <img src="{{ asset('build/images/') ~ recipeIngredient.ingredient.picture }}" class="ingredient-mob" alt="photo de {{ recipeIngredient.ingredient.nameIngredient }}" />
            </div>
        {% endfor %}
    </div>
    </div>
    {# version desktop #}
    <div class="container text-center d-none d-md-block">
    <div class="row row-cols-3">
        {% for recipeIngredient in recipeIngredients %}
            <div class="col">
            <p>{{recipeIngredient.quantity}} {{recipeIngredient.unity}} {{recipeIngredient.ingredient.nameIngredient}}</p>
            <img src="{{ asset('build/images/') ~ recipeIngredient.ingredient.picture }}" class="ingredient" alt="photo de {{ recipeIngredient.ingredient.nameIngredient }}" />
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
