{% extends 'base.html.twig' %}

{% block title %}Etapes de la recette
{% endblock %}
{% block body %}
	<img
	class="w-100 object-fit-cover d-none d-md-block" src="{{ asset('/build/images/background-pages.png') }}"/>

	{# sidebar #}
	{% include 'components/_sidebarRecipe.html.twig' %}
	<section>
		<h2 class="mx-auto text-center py-3 text-uppercase w-75">{{ recipe.nameRecipe }}</h2>

			{# DESKTOP - Photo #}
		<img src="{{ asset('build/images/') ~ recipe.picture }}" class="d-none d-md-block mx-auto pic-view-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/>

	</section>

	<section>
		<div class="container recipe-step ps-5 mt-5 d-flex flex-column">
			<div class="container d-flex flex-column align-items-center p-0">
				<h2 class="text-center mb-5">Les étapes de la recette</h2>
			</div>
			<div>
				{% for step in steps %}
					<h2 class="mb-0">
						Etape
						{{ step.stepNumber }}</h2>
					<p class="mt-0">{{ step.description }}</p>
				{% endfor %}
			</div>
		</div>
		</section>
	<div class="crud-button-block ">
		{% if is_granted("ROLE_ADMIN") or is_granted("recipe.owner") %}
			<a class="btn button-crud mt-3" href="{{ path('app_recipe_edit', { slug: recipe.slug }) }}">Editer la recette</a>
			{{ include('recipe/_delete_form.html.twig') }}
		{% endif %}
		<a class="btn button-crud mt-3" href="{{ path('app_recipe_index') }}">Retour à la liste</a>
	</div>
	
{% endblock %}
