{% extends 'base.html.twig' %}

{% block title %}Ingredient
{% endblock %}

{% block body %}
    <h1 class="step-recipe">{{recipe.nameRecipe}}</h1>

    <h2>Les ingrédients de la recette</h2>

    <div>
        {% for recipeIngredient in recipeIngredients %}
            <p>{{recipeIngredient.quantity}} {{recipeIngredient.unity}} {{recipeIngredient.ingredient.nameIngredient}}
        {% endfor %}
    </div>

    <a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">Retour à la recette</a>

{% endblock %}
