{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block body %}
	<h2 class="text-center mt-5 mb-5">{{ recipe.nameRecipe }}</h2>
	<div class="container text-center">
		<div class="row">
			<div class="col">
				<h5>Temps de préparation</h5>
				<p>{{ recipe.prepareTime }}</p>
			</div>

			<div class="col">
				<h5>Temps de cuisson</h5>
				<p>{{ recipe.cookingTime }}
					min</p>
			</div>

			<div class="col">
				<h5>Nombre de personne</h5>
				<p>{{ recipe.personNumber }}</p>
			</div>
		</div>
	</div>
    <div class="container text-center">
	<a href="{{ path('app_recipe_index') }}">back to list</a>

	<a href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">edit</a>

	{{ include('recipe/_delete_form.html.twig') }}
    </div>
{% endblock %}
