{% extends 'base.html.twig' %}

{% block title %}
	Recipe
{% endblock %}

{% block body %}
	{# Cover #}
	<img
	class="w-100 object-fit-cover d-none d-md-block" src="/build/images/background-pages.png">

	{# sidebar #}
	{% include 'components/_sidebarRecipe.html.twig' %}

	{# Titre #}
	<section>
		<h2 class="mx-auto text-center py-3 text-uppercase w-75">{{ recipe.nameRecipe }}</h2>

		{# MOBILE - Photo #}
		<div class="ps-5 container text-center">
			<img src="{{ asset('build/images/') ~ recipe.picture }}" class="d-md-none pic-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/>
		</div>
		{# DESKTOP - Photo #}
		<img src="{{ asset('build/images/') ~ recipe.picture }}" class="d-none d-md-block mx-auto pic-view-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/>

		<p class="paragraph text-center">
			{% if totalLikers > 1 %}
				recette aimée par
				{{ totalLikers }}
				Gastronomnoms.
			{% elseif totalLikers == 1 %}
				recette aimée par
				{{ totalLikers }}
				Gastronomnom.
			{% else %}
				Soyez le 1er Gastronomnom à aimer cette recette.
			{% endif %}
			{% if app.user %}
				{% else %}
					<br>
					<a class="paragraph link-underline link-underline-opacity-0" href="{{ path('app_login') }}">
						Connectez-vous pour aimer cette recette.
					</a>
			{% endif %}
		</p>
		<p></p>
	</section>
	{# INFOS recette #}
	<div>
		<div class="container text-center">
			<div class="row mt-3 pt-2">
				<div class="col">
					<p>Temps de préparation</p>
					<p class="infos-recipe">
						{{ recipe.prepareTime }}
						min</p>
				</div>
				<div class="col">
					<p>Temps de cuisson</p>
					<p class="infos-recipe">{{ recipe.cookingTime }}
						min</p>
				</div>
				<div class="col">
					<p>Nombre de personne(s)</p>
					<p class="infos-recipe">{{ recipe.personNumber }}</p>
				</div>
			</div>
		</div>

		{# BOUTONS CRUD #}
		<div class="crud-button-block">
			{% if is_granted("ROLE_CONTRIBUTOR") %}
				<a class="btn button-crud mt-3" href="{{ path('app_recipe_edit', { id: recipe.id }) }}">Editer la recette</a>
				{{ include('recipe/_delete_form.html.twig') }}
			{% endif %}
			<a class="btn button-crud mt-3" href="{{ path('app_recipe_index') }}">Retour à la liste</a>
		</div>

		<h3>Commentaires sur la recette</h3>
		{% for comment in recipe.comments %}
			<p class="paragraph">{{ comment.comment }}</p>
			<p class="paragraph">Note : {{ comment.note }}
			</p>
			<p class="paragraph">{{ comment.commentator.pseudo }}</p>
		{% endfor %}
	</div>
	<div>
		{% if app.user %}
			{# <a href="{{ path('app_comment_new') }}">
				Ajouter un commentaire</a> #}
				{# {{ form_start(comment_form ) }}
    {{ form_widget(comment_form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(comment_form) }} #}
{{ form (comment_form ) }}
		{% else %}
			<a href="{{ path('app_login') }}">
				Se connecter pour commenter</a>
		{% endif %}
	</div>
{% endblock %}
