{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block body %}
	<h2 class="text-center mt-5 mb-5">{{ recipe.nameRecipe }}</h2>
	<div class="container text-center">
		<div id="carouselExampleIndicators" class="carousel slide">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{{ asset('build/images/' ~ recipe.picture)}}" class="d-block w-50 rounded mx-auto d-block" alt="{{ recipe.nameRecipe }}">
				</div>
				<div class="carousel-item active">
					<img src="{{ asset('build/images/' ~ recipe.picture)}}" class="d-block w-50 rounded mx-auto d-block" alt="{{ recipe.nameRecipe }}">
				</div>
				<div class="carousel-item active">
					<img src="{{ asset('build/images/' ~ recipe.picture)}}" class="d-block w-50 rounded mx-auto d-block" alt="{{ recipe.nameRecipe }}">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="row mt-5">
			<div class="col">
				<h5>Temps de préparation</h5>
				<p>{{ recipe.prepareTime }}
					min</p>
			</div>
			<div class="col">
				<h5>Temps de cuisson</h5>
				<p>{{ recipe.cookingTime }}
					min</p>
			</div>
			<div class="col">
				<h5>Nombre de personne</h5>
				<p>{{ recipe.personNumber }}</p>
			</div>
		</div>
	</div>
	<div class="container text-center mt-5">
		<div class="d-flex p-2 flex-column mb-3 align-items-center flex-nowrap">
			<a class="btn btn-primary mb-3" href="{{ path('app_recipe_index') }}">Retour à la liste</a>

			<a class="btn btn-primary mb-3" href="{{ path('app_recipe_edit', {'id': recipe.id}) }}">Editer la recette</a>

			{{ include('recipe/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}
