{# -------------------------navbar mobile------------------------ #}
<ul class="navbar-mobile navbar fixed-bottom justify-content-center" id="navbar-mobile">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">
			<i class="fa-solid fa-house-chimney"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fa-solid fa-utensils"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_recipe_new')}}">
			<i class="fa-solid fa-circle-plus"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="fa-regular fa-heart"></i>
		</a>
	</li>
	{% if app.user %}
		<li class="btn-group dropup">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa-solid fa-circle-user"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="#">Mon profil</a>
				</li>
				<li>
					<a class="link-offset-2 link-underline link-underline-opacity-0 nav-link" href="{{ path('app_logout') }}">
						Se déconnecter</a>
				</li>
			</ul>
		</li>
	{% else %}
		<li class="btn-group dropup">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa-solid fa-circle-user"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a class="link-offset-2 link-underline link-underline-opacity-0 nav-link" href="{{ path('app_login') }}">
						Se connecter</a>
				</li>
				<li>
					<a class="link-offset-2 link-underline link-underline-opacity-0 nav-link" href="#">
						S'inscrire</a>
				</li>
			</ul>
		</li>
	{% endif %}
</ul>

{# --------------------------menu bento desktop-------------------- #}
<ul class="navbar-desktop navbar fixed-bottom justify-content-center" id="navbar-desktop">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Accueil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Recettes</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{{path('app_recipe_new')}}">Ajouter une recette</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Favoris</a>
	</li>
	{% if app.user %}
		<li class="nav-item">
			{{ app.user.email }}
			<a class="nav-link" href="#">Mon profil</a>
		</li>
		<li class="nav-item">
			<a class="link-offset-2 link-underline link-underline-opacity-0 nav-link" href="{{ path('app_logout') }}">
				Se déconnecter</a>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="link-offset-2 link-underline link-underline-opacity-0 nav-link" href="{{ path('app_login') }}">
				Se connecter</a>
		</li>
	{% endif %}
</ul>
<div class="z-3 bento-container">
	<img src="{{ asset('build/images/menu_bento.png') }}" alt="menu bento" class="menu-bento" id="bento">
</div>
