<nav class="h-100 position-absolute top-25 padding-sidebar">
	<ul class="h-75 d-flex flex-column justify-content-center gap-4 p-0 m-0">
		<li>
			<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}"><i class="fa-solid fa-book"></i></a>
		</li>
		<li>
			<a href="{{ path('app_recipe_show_ingredients', { slug: recipe.slug }) }}"><i class="fa-solid fa-carrot"></i></a>
		</li>
		<li>
			<a href="{{ path('app_recipe_show_step', { slug: recipe.slug }) }}"><i class="fa-solid fa-list-check"></i></a>
		</li>
		{% if is_granted("ROLE_USER") and recipe.owner == app.user or is_granted("ROLE_ADMIN") %}
		<hr>
			<li>
				<a href="{{ path('app_recipe_edit', { slug: recipe.slug }) }}"><i class="fa-solid fa-pen-to-square"></i></a>
			</li>
			<li>
				{{ include('recipe/_delete_form.html.twig') }}
			</li>
		{% endif %}
	</ul>
</nav>
	