<div{{attributes}}>
	<div class="mb-3 w-75 mx-auto ">
		<label class="form-label" for="search">
			<h2>Rechercher une recette</h2>
		</label>
		<input type="search" id="search" class="form-control" value="{{ query }}" data-model="query">
	</div>
	{# MOBILE - search #}
	<div class="d-flex flex-column text-center d-md-none">
	{% for recipe in this.recipes %}
		<div class="container-fluid w-75">
		<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/></a>
			<h5>{{ recipe.nameRecipe }}</h5>
			<p>{{ recipe.description }}</p>
		</div>
	{% endfor %}
	</div>
	{# DESKTOP - search #}
	<div class="d-none d-md-block">
	<div class="d-flex flex-wrap gap-1 text-center">
	{% for recipe in this.recipes %}
		<div class="container-fluid w-25">
		<a href="{{ path('app_recipe_show', { slug: recipe.slug }) }}"><img src="{{ asset('build/images/' ~ recipe.picture) }}" class="pic-recipe object-fit-cover" alt="{{ recipe.nameRecipe }}"/></a>
			<h5>{{ recipe.nameRecipe }}</h5>
			<p>{{ recipe.description }}</p>
		</div>
	{% endfor %}
	</div>
	</div>
</div>
